<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCNPIpGK05u6LUQMr4hvkvAQAOsHaeaFP4</string>
	<key>GCM_SENDER_ID</key>
	<string>569897212889</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firstAppLelkov</string>
	<key>PROJECT_ID</key>
	<string>first-app-lelkov</string>
	<key>STORAGE_BUCKET</key>
	<string>first-app-lelkov.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:569897212889:ios:3cb88fc36c9fa6521a97c8</string>
</dict>
</plist>